{% extends 'admin/layout.html.twig' %}

{% block admin_body %}
  <div class="card">
    <div class="header-row">
      <h2>Modifier la boutique</h2>
    </div>
    {% include 'admin/shop/_form.html.twig' with {form: form} %}
  </div>
{% endblock %}
